<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>记账</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>qian8://</string>
		<key>image</key>
		<string>qian8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>设置</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>prefs:</string>
		<key>image</key>
		<string>config</string>
	</dict>
	<dict>
		<key>name</key>
		<string>提醒事项</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>x-apple-reminder://</string>
		<key>image</key>
		<string>beiwang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邮件</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>mailto://</string>
		<key>image</key>
		<string>mail</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微博</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>sinaweibo://</string>
		<key>image</key>
		<string>weibo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微信</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>weixin://</string>
		<key>image</key>
		<string>weixin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>mqq://</string>
		<key>image</key>
		<string>qq</string>
	</dict>
	<dict>
		<key>name</key>
		<string>短信</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>sms://</string>
		<key>image</key>
		<string>sms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>支付宝</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>alipay://</string>
		<key>image</key>
		<string>alipay</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招行</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>cmbnetpay://</string>
		<key>image</key>
		<string>cmb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>淘宝</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>taobao://</string>
		<key>image</key>
		<string>taobao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百度</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>http://baidu.com</string>
		<key>image</key>
		<string>baidu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>相册</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>Photos://</string>
		<key>image</key>
		<string>xiangce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ibook</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>ibooks://</string>
		<key>image</key>
		<string>ibook</string>
	</dict>
	<dict>
		<key>name</key>
		<string>APPStore</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>itms-apps://</string>
		<key>image</key>
		<string>store</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夺岛奇兵</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>fb480068372075366://</string>
		<key>image</key>
		<string>boombeach</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气通</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>sinaweather://</string>
		<key>image</key>
		<string>tianqitong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美团</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>imeituan://</string>
		<key>image</key>
		<string>meituan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Home</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>homeoff://</string>
		<key>image</key>
		<string>home</string>
	</dict>
	<dict>
		<key>name</key>
		<string>优惠券</string>
		<key>type</key>
		<string>image</string>
		<key>url</key>
		<string>BDcoupon://</string>
		<key>image</key>
		<string>youhuiquan</string>
	</dict>
</array>
</plist>
